
KarmaSushi/.vs/KarmaSushi/config/applicationhost.config
KarmaSushi/.vs/KarmaSushi/v16/.suo
KarmaSushi/.vs/KarmaSushi/config/applicationhost.config
KarmaSushi/.vs/KarmaSushi/v16/Server/sqlite3/storage.ide
KarmaSushi/.vs/KarmaSushi/v16/Server/sqlite3/storage.ide-shm
KarmaSushi/.vs/KarmaSushi/v16/Server/sqlite3/storage.ide-shm
