<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Local connection -->
    <!--<add name="KarmaDB" connectionString="Data Source = Julian\SQLEXPRESS; Initial Catalog =Karma; User Id=sa; Password=1234" providerName="System.Data.SqlClient"></add>-->
    <!-- Kraka online connection, using Mathias' database -->
    <add name="KarmaDB"
         connectionString="Data Source = kraka.ucn.dk;
         Initial Catalog = dmab0918_1074178;
         Persist Security Info = True;
         User Id = dmab0918_1074178;
         Password = Password1!"/>
  </connectionStrings>
</configuration>