USE dmab0918_1074178;

SELECT * FROM Category;
SELECT * FROM Customer;
SELECT * FROM Employee;
SELECT * FROM OrderLine;
SELECT * FROM Orders;
SELECT * FROM Product;
SELECT * FROM Reservation;
SELECT * FROM ReservedTable;
SELECT * FROM [dmab0918_1074178].[dbo].[Table];
SELECT * FROM TablesOrders;